
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

<div *ngIf="question; else showResults">

  <div><span>Question: {{question.name}} </span> </div>
  
  <li *ngFor="let choice of choices;let i of index" >
    <input #c (change)="onClick(choice.istrue,c)" type="checkbox"  name="choice" ngModel/>{{choice.answear}}
  </li>
  <br>

Number Of Answers: {{question.numberOfAnswers}} <br><br>
Correct answers(must be {{question.numberOfAnswers}}) : {{correctOption}} <br><br>
Wrong answers(must be 0): {{wrongFlag}}<br><br>

  <button>Submit</button>
  
 
    
  
    
</div>

</form>

<ng-template #showResults>

  <p>Score: {{correct}} / {{numberOfQuestions}} </p>

  
</ng-template>

